#playsound
assemblyai
groq
langchain
chardet
charset-normalizer
langchain-groq
langchain-openai
langsmith
numpy
openai
pooch
py2app
PyAudio
pycparser
pydub
pynput
pyperclip
regex
requests
rumps
scikit-learn
scipy
setuptools
simpleaudio
tiktoken
tqdm
rumps
python-dotenv
